/* Общие стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}

/* Стили для заголовков и текста */
h1, h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

h2 {
    font-size: 140%;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #aeb002;
}

/* Стили для header */
header {
    background-color: darkslateblue;
    height: 177px;
    font-size: 0.8em;
    margin: 0 auto;
    min-width: 900px;
}

header .logo {
    width: 880px;
    padding-bottom: 40px;
}

header .logo h1, header .logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 9px;
}

header .logo_text h1, header .logo_text h1 a, header .logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
}

header .logo_text h2 {
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}

/* Стили для nav */
nav {
    width: 900px;
    height: 46px;
    margin: 0 auto;
}

nav ul.menu {
    float: right;
}

nav ul.menu li {
    float: left;
    padding: 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}

nav ul.menu li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #aeb002;
    text-decoration: none;
}

nav ul.menu li.selected a {
    color: #aeb002;
}

nav ul.menu li a:hover {
    color: #e4ec04;
}

/* Стили для aside */
aside.sidebar_container {
    float: right;
    width: 224px;
}

aside.sidebar {
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}

aside.sidebar h2 {
    color: #136cb2;
}

/* Стили для основного контента (main и section) */
main {
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: white;
}

section.content {
    text-align: left;
    width: 620px;
    padding: 0 0 5px;
    float: left;
}

section.content a {
    text-decoration: none;
}

/* Стили для блоков фильмов */
.films_block {
    margin-bottom: 5%;
}

.films_block img {
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}

/* Стили для футера (footer) */
footer {
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center;
    color: #a8aa94;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

footer a {
    color: #a8aa94;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer p {
    padding: 0 0 10px 0;
}
